.DS_Store
.git
build/
prompt/
docs/
*.o
*.obj
*.exe
*.out
*.log
*.tmp
*.swp
*.swo
*.s
*.ll
out
checklist.md
test/performance*
.vscode/
.idea/
CLAUDE.md
AGENTS.md
*.pdf
*.Identifier
.claude/
.codex/
.agents/
test/result.txt
test/results/
*.txt
remind.txt
test/result.txt
*.md
/test/re
*.png
*.elf
*.sy